@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.FieldAdd{
  color:black;
  padding:10px;  
}

.block_select-UL{
  text-align: left;
}

.block_select{
  margin:5px;
  margin-top:10px ! important;
  padding:10px 20px;
  background: rgb(76, 75, 75);
  border:1px solid;
  border-radius: 5px;
  box-shadow:5px 5px 5px rgba(255,255,255,0.2)
}

.selected_text{
  background: red;
  padding:5px;
  margin: 5px 0;
}

.selected_text.selectedEL0, .selected_text.selectedEL4{
  background: green;
}

.selected_text.selectedEL1, .selected_text.selectedEL8{
  background: yellow;
}

.selected_text.selectedEL2, .selected_text.selectedEL5{
  background: cyan;
}

.selected_text.selectedEL3, .selected_text.selectedEL6{
  background: blue;
}